div#header
	h1
		span#logo
			img(src="images/logo.png")
		= title
		span#logo
			img(src="images/logo.png")

div#all_ties_info
	p This is the list of all Bernie's awesome ties sorted by rating
	
div#wrap
	test()

	div.link
		a#btn_all_ties(href="/") Back to Home


	ol
		each tie in ties
			li
				<img class="tie_img" src="#{tie.attributes.url}" / >


				- if(tie.average() === null)
					
					span.norating  No votes yet
					
					span.rating

					form(method="post", action="all_ties", name="rate")
						input(type="hidden", name="id", value="#{tie.attributes.name}")

						span.vote
						- if(tie.average())						
							- for(var i=1; i<=10; i++)
								input(type="submit", name="vote", value=i, disabled="disabled")
						- else
							- for(var i=1; i<=10; i++)
								input(type="submit", name="vote", value=i)
					span.name
						#{tie.attributes.name}

				- else

					
					span.showrating #{tie.average()}
					
					span.rating
					form(method="post", action="all_ties", name="rate")
						input(type="hidden", name="id", value="#{tie.attributes.name}")

						span.vote
						- if(tie.average())						
							- for(var i=1; i<=10; i++)
								input(type="submit", name="vote", value=i, disabled="disabled")
						- else
							- for(var i=1; i<=10; i++)
								input(type="submit", name="vote", value=i)
									
					span.name
						#{tie.attributes.name}
				



