h1= title
p This is the list of all Bernies awesome ties sorted by rating

div#link
	a(href="/") Home
div#link
	a(href="") Random Tie

#{ties}

ul
each tie in ties
	li #{tie.attributes.name}  Rating: #{tie.attributes.average}
	<img src="#{tie.attributes.url}" width="300"/>