h1= title
p This is the list of all Bernies awesome ties sorted by rating

div#link
	a(href="/") Home
div#link
	a(href="") Random Tie

ul
each tie in ties
	- if(tie.attributes.average == null)
		li #{tie.attributes.name}  Rating: No votes yet
	- else
		li #{tie.attributes.name}  Rating: #{tie.attributes.average}
	<img src="#{tie.attributes.url}" width="300"/>