div#header
	h1= title

div#wrap
	p This is the list of all Bernies awesome ties sorted by rating

	div.link
		a#btn_all_ties(href="/") Back to Home


	ol
		each tie in ties
			- if(tie.attributes.average == null)
				li
					<img class="tie_img" src="#{tie.attributes.url}" / >
					span.name
						#{tie.attributes.name}
					span.rating  Rating: No votes yet

			- else
				li
					<img class="tie_img" src="#{tie.attributes.url}" / >
					span.name
						#{tie.attributes.name}
					span.rating
						Rating: #{tie.attributes.average}


